# requirements-test.txt
# Python dependencies needed to run the test suite

pytest
pytest-asyncio
httpx==0.23.0
scipy
semopy>=2.3
pydantic-settings>=2.0
# FastAPI version supporting Pydantic v2
fastapi>=0.110
torch
tensorly
transformers
psycopg2-binary
